<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
  <md-card>
    <md-card-header>
      <md-card-title><h3>{{dish.name | uppercase}} </h3> </md-card-title>        
    </md-card-header>
    <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    <md-card-content>
        <p>{{dish.description}}</p>
    </md-card-content>
    <md-card-actions>
      <button md-button [routerLink]="['/dishdetail',prev]">
        <span class="fa fa-chevron-left fa-lg"></span>
      </button>
      <button md-button (click)=goBack()>BACK </button>
      <button md-button> LIKE </button>
      <button md-button> SHARE </button>   
      <span class="flex-spacer"></span>
      <button md-button [routerLink]="['/dishdetail',next]">
        <span class="fa fa-chevron-right fa-lg"></span>
      </button>
    </md-card-actions>
  </md-card>
</div>

<div  fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>  
  <h3>Comments </h3>  
        <md-list cols="1" rowHeight="200px">
            <md-list-item *ngFor="let comm of dish.comments">             
              <p md-line>{{comm.comment}}</p>
              <span md-line> {{comm.rating}} Stars</span>
              <span md-line> -- {{comm.author}} {{comm.date | date:'mediumDate'}}</span>
            </md-list-item>
          </md-list>

      <p [hidden]= "!commentForm.valid || !commentForm.touched">
      <md-list cols="1" rowHeight="200px">
        <md-list-item >             
          <p md-line>{{commentForm.value.comment}}</p>
          <span md-line> {{commentForm.value.rating}} Stars</span>
          <span md-line> -- {{commentForm.value.author}} </span>
        </md-list-item>
      </md-list>
      </p>

   
<form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <p>
      <md-input-container class="half-width"
      dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
       <input mdInput formControlName="author" placeholder="Author Name" type="text" required>
       <md-hint>
         <span [hidden]="!(formErrors.author)">
           {{formErrors.author}}</span>
       </md-hint>
     </md-input-container>
  </p>
  <p>
    <md-slider formControlName = "rating"       
    [invert]="invert"
    [max]="5"
    [min]="0"
    [step]="1"
    thumb-label = "1"
    [tick-interval]="1"
    value="5"    
 >
</md-slider>
  </p>
  <p>
      <md-input-container class="full-width" dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
        <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
        <md-hint>
          <span [hidden] = "!(formErrors.comment)">
            {{formErrors.comment}}
          </span>
        </md-hint>
      </md-input-container>
    
  </p>
  <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
</form>
</div>
<div [hidden]="dish || errMess">
  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>

</div>